<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loan a Book</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <a href="./">Home</a>
        <a href="books_list">Books List</a>
        <a href="add_book">Add a New Book</a>
        <a href="delete_book">Delete a Book</a>
        <a href="loan_book">Loan a Book</a>
        <a href="return_book">Return a Book</a>
    </nav>

    <h1>Loan a Book</h1>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-message {{ messages[0][0] }}">
                {{ messages[0][1] }}
            </div>
        {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('loan_book')}}" method="POST">
        <input type="text" name="bookID" placeholder="Enter Book ID to Loan" required>
        <button type="submit">Loan Book</button>
    </form>

</body>
</html>